################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TradingApi/bin
/TradingApi/obj
/sansidalgo/bin
/sansidalgo/obj
/sansidalgo.core/bin
/sansidalgo.core/obj
/SansidAlgo.DataLayer/bin/Debug/net6.0
/SansidAlgo.DataLayer/obj
/BLU/bin/Debug/net8.0
/BLU/obj
/DataLayer/bin/Debug/net8.0
/DataLayer/obj
/DataLayer/bin
/sansidalgo/sansidalgo.client/obj
/sansidalgo/sansidalgo.Server/bin
/sansidalgo/sansidalgo.Server/obj
/BLU/bin/Release/net8.0
/NorenApiWrapper/bin
/NorenApiWrapper/obj
/sansidalgo/sansidalgo.client/android
/NSEService/bin
/NSEService/obj
/NSEService/Services/db/__pycache__
/NSEService/Services/logic/__pycache__
/NSEService/Services/.vscode

/DataLayer/bin/Release/net8.0/DataLayer.pdb
/node_modules
/sansidalgo/sansidalgo.Server/.config/dotnet-tools.json
