################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TradingApi/bin
/TradingApi/obj
/sansidalgo/bin
/sansidalgo/obj
/sansidalgo.core/bin
/sansidalgo.core/obj
/SansidAlgo.DataLayer/bin/Debug/net6.0
/SansidAlgo.DataLayer/obj
