<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/818e2aea-2fd9-4bee-a271-b665f75b179c/resourcegroups/DefaultResourceGroup-CAU/providers/Microsoft.Web/sites/TradingApi20230710171239</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CAU</ResourceGroup>
    <ApiResourceId>/subscriptions/818e2aea-2fd9-4bee-a271-b665f75b179c/resourceGroups/DefaultResourceGroup-CAU/providers/Microsoft.ApiManagement/service/TradingApiapi/apis/TradingApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tradingapi20230710171239.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d6a76fe3-6a51-4a04-82d3-aded22bc9385</ProjectGuid>
    <MSDeployServiceURL>tradingapi20230710171239.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TradingApi20230710171239</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TradingApi20230710171239</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>